<!DOCTYPE html>
<html>
  <head>
    <title>Videoapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if flash[:notice] %>
      <div class="notification bg-info global-notification p-2 text-light text center">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification bg-warning global-notification p-2 text-light text center">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
